semana_1/node_modules/ansi-regex/index.js
semana_1/node_modules/ansi-regex/license
semana_1/node_modules/ansi-regex/package.json
semana_1/node_modules/strip-ansi/readme.md
semana_1/node_modules/strip-ansi/package.json
semana_1/node_modules/strip-ansi/license
semana_1/node_modules/strip-ansi/index.js
semana_1/node_modules/strip-ansi/index.d.ts
semana_1/node_modules/prompt-sync/test.js
semana_1/node_modules/prompt-sync/README.md
semana_1/node_modules/prompt-sync/package.json
semana_1/node_modules/prompt-sync/LICENSE
semana_1/node_modules/prompt-sync/index.js
semana_1/node_modules/ansi-regex/readme.md
semana_2/package-lock.json
semana_2/node_modules/ansi-regex/index.js
semana_2/node_modules/strip-ansi/readme.md
semana_2/node_modules/strip-ansi/package.json
semana_2/node_modules/strip-ansi/license
semana_2/node_modules/strip-ansi/index.js
semana_2/node_modules/strip-ansi/index.d.ts
semana_2/node_modules/prompt-sync/test.js
semana_2/node_modules/prompt-sync/README.md
semana_2/node_modules/prompt-sync/package.json
semana_2/node_modules/prompt-sync/LICENSE
semana_2/node_modules/prompt-sync/index.js
semana_2/node_modules/ansi-regex/readme.md
semana_2/node_modules/ansi-regex/package.json
semana_2/node_modules/ansi-regex/license
semana_3/node_modules/ansi-regex/index.js
semana_3/node_modules/ansi-regex/license
semana_3/node_modules/ansi-regex/package.json
semana_3/node_modules/ansi-regex/readme.md
semana_3/node_modules/prompt-sync/README.md
semana_3/node_modules/prompt-sync/package.json
semana_3/node_modules/strip-ansi/index.js
semana_3/node_modules/strip-ansi/readme.md
semana_3/node_modules/strip-ansi/license
semana_3/node_modules/prompt-sync/test.js
semana_3/node_modules/strip-ansi/package.json
semana_3/node_modules/strip-ansi/index.d.ts
semana_3/node_modules/prompt-sync/LICENSE
semana_3/node_modules/prompt-sync/index.js
